body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  height: 50px;
  padding: 0px 20px;
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.hero-section{
 padding: 20px;
 display: flex;
 flex-direction: column;
}

.hero-section>img{
  max-width: 800px;
  align-self: center;  /* align itself in center of flex it is contained */
}

.hero-section>h1{
  margin-bottom: 0px;
  font-size: 3rem;
}
.hero-section>p1{
  margin-left: 20%;
  margin-top: 0px;
}